/* Index page css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  /* margin: 0; */
  /* height: 100vh; */
  /* width: 100vw; */
  display: grid;
  height: fit-content;
}

/* body {
  font-family: 'Arial', sans-serif;
  display: grid;
} */

#root {
  display: flex;
  /* margin: 0px; */
  width: 100vw;
  height: fit-content;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(98, 96, 96);
  justify-content: center;
}

/* #root {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
} */

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

tr th {
  border-radius: 20px;
  font-family: cursive;
}

th {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 20px;
}

td {
  border: 1px solid #ddd;
  border-radius: 20px;
}

thead {
  background-color: #f2f2f2;
}

h3 {
  margin-bottom: 10px;
  text-align: center;
  font-family: cursive;
}

td input[type="button"] {
  cursor: pointer;
  font-size: 16px;
  font-family: cursive;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 3px 10px 3px 10px;
  background-color: #4caf50;
  color: #fff;
  width: 150px;
  height: 40px;
  border-radius: 20px;
}

input[type="button"]:hover {
  background-color: #45a049;
}

#left {
  width: 20%;
}

#right {
  width: 80%;
  text-align: center;
}



/* Registration page css */
form {
  background-color: #fff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 25%;
  height: 70vh;
  align-items: center;
}

select#myDropdown {
  width: calc(100% - 16px);
  padding: 12px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

select#myDropdown:focus {
  outline: none;
  border-color: #66afe9;
}

input[type="text"] {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 14px;
}

form button {
  background-color: #3b3636e2;
  color: white;
  padding: 7px 20px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

select {
  color: rgb(136, 136, 141);
  padding: 5px 15px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
}

#heading {
  text-align: center;
}

#can {
  float: inline-end;
}

button:hover {
  background-color: #609f64;
}

#can:hover {
  background-color: #089a00;
}

#sub:hover {
  background-color: #b13232c5;
}



/* Navbar css */
#navdiv {
  /* height: 12vh; */
  /* height: fit-content; */
  width: 100vw;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(98, 96, 96);
}

nav {
  /* position: relative; */
  /* padding: 5px; */
  /* vertical-align:super; */
  display: inline-flex;
}

nav input[type="button"] {
  cursor: pointer;
  font-size: 16px;
  font-family: cursive;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 10px 3px 10px;
  background-color: #4caf50;
  color: #fff;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  vertical-align: middle;
  /* position: absolute;
  left: 20px; */
}

/* nav input[value="Add Employee"] {
  cursor: pointer;
  font-size: 16px;
  font-family: cursive;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 10px 3px 10px;
  background-color: #4caf50;
  color: #fff;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  vertical-align: middle;
  /* position: absolute;
  right: 20px; */
} */

nav input[type="button"]:hover {
  background-color: #45a049;
}