body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

form {
  background-color: #fff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 25%;
  height: 70vh;
  align-items: center;
}

select#myDropdown {
  width: calc(100% - 16px);
  padding: 12px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

select#myDropdown:focus {
  outline: none;
  border-color: #66afe9;
}

input {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 14px;
}

button {
  background-color: #6b6b6b;
  color: white;
  padding: 7px 20px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

select {
  color: rgb(136, 136, 141);
  padding: 5px 15px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
}

#heading {
  text-align: center;
}

#can {
  float: inline-end;
}

button:hover {
  background-color: #609f64;
}

#can:hover {
  background-color: #089a00;
}

#sub:hover {
  background-color: #b13232c5;
}